# macOS ===========================
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two ===========
Icon

# Thumbnails =======================
._*

# Xcode ============================

## Build generated =================
build/
DerivedData/

## Various settings ================
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Other ===========================
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.generated.swift
*.code-workspace
.vscode/*

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager ============
Packages/
Package.pins
Package.resolved
.build/

# CocoaPods ========================
Pods/

# Carthage
Carthage/Checkouts
Carthage/Build

# fastlane =========================
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
*.resolved

# Tuist ============================
Derived/
Tuist/master.key
graph.dot
Tuist/Dependencies

# Secrets ==========================
*Secrets.plist

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode Patch ======================
*.xcworkspace/*
*.xcodeproj/*
/*.gcno
